.card {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Subtle shadow */
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details {
  flex: 1;
}

.iconWrapper {
  font-size: 40px; /* Adjust size as needed */
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
